@model Projekat.Models.kupci

@{
    ViewBag.Title = "Delete";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kontakt</title>
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/img/PionirIkona.png")">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Roboto:ital,wght@1,300&family=Rubik:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/70cce1d5d2.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        @{
            Html.RenderPartial("_NavBar");
        }
    </div>
    <h1 id="kontakt">DELETE</h1>

    <h2>Da li ste sigurni da želite da obrišete kupca?</h2>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt style="border:1px solid black; background:lightcoral;">
                <b>Ime i prezime:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ImeIPrezime)
            </dd>

            <dt style="border:1px solid black; background:lightcoral;">
                <b>Email:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt style="border:1px solid black; background:lightcoral;">
                <b>Korisnikova poruka:</b>
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Poruka)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                <button>@Html.ActionLink("Kupci", "Index")</button>
            </div>
        }
    </div>

    <div>
        @{ Html.RenderPartial("_Footer");}
    </div>
</body>
</html>

